<div class="cart sm-col-12">
  <h1><%= camper_name.name %>'s Cart</h1>
  <p>Account Balance: <%= number_to_currency(@cart.camper.account_balance) %></p>
  <% cart.items.each do |item| %>
    <p><%= item.name %> <%= item.color %> <%= item.size %> <%= item.flavor %> -- price: <%= number_to_currency(item.price) %></p>
  <% end %>

 <div class="btn btn-info"><%= link_to "Update Total", total_cart_cart_path(cart), method: :post %></div>
 <h3>Total: <%= number_to_currency(cart.total) %></h3>

  <div class="btn btn-info"><%= link_to "Checkout", checkout_cart_path(cart), method: :post %></div>


