<div class="cart sm-col-12">
  <h1><%= camper_name.name %>'s Cart</h1>
  <% if cart.complete %>
    <p>Account Balance: <%= number_to_currency(@cart.camper.account_balance) %></p>
  <% else %>
    <% if @cart.camper.account_balance - @total_price < 0 %>
      <div><h3>Not enough money in account. Please delete items.</h3></div>
    <% end %>
    <p>Account Balance: <%= number_to_currency(@cart.camper.account_balance - @total_price) %></p>
  <% end %>


  <p>Date of transaction: <%= cart.created_at.strftime("%m/%d/%Y %I:%M%p") %></p>
  <% cart.items.each_with_index do |item, index| %>
    <p><%= item.name %> <%= item.color %> <%= item.size %> <%= item.flavor %> -- price: <%= number_to_currency(item.price) %></p>
    <% if !cart.complete? %>
      <%= form_tag("/carts/" + cart.id.to_s + "/cart_items/"+ cart.cart_items[index].id.to_s, method: "delete") do %>
        <%= hidden_field "cart", "id",  :value => cart.id %>
        <%= submit_tag "Remove" %>
      <% end %>
    <% end %>
  <% end %>

  <% if !cart.complete? %>
    <%= form_for @cart, html: {class: "donation-form"} do |f| %>
      <%= f.label :donation %>
      <%= f.text_field :donation %>
      <%= f.submit "Add Donation" %>
    <% end %>
  <% end %>

  <p>Donation: <%= number_to_currency(cart.donation) %></p>

  <h3>Total: <%= number_to_currency(@total_price) %></h3>

  <% unless @cart.complete %>

   <div class="btn btn-info"><%= link_to "Checkout", checkout_cart_path(cart), method: :post %></div>
    
<div class="btn btn-danger"><%= link_to "delete", {:controller => :carts,
      :action => 'destroy', :id => @cart.id }, :method => :delete %></div>

  <% end %>
</div>


