<h1><%= @camper.name %></h1>
<p>Account Balance: <%= number_to_currency(@camper.account_balance) %></p>
<h2>Carts</h2>
<div class="new-cart">
  <%= simple_form_for(@cart) do |f| %>
    <%= f.hidden_field :camper_id, value: @camper.id %>
    <button>New Cart</button>
  <% end %>
</div>
<% @carts.each do |cart| -%>
  <% if cart.complete %>
    <h3>Date:<%= cart.created_at %></h3>
    <% cart.items.each do |item| -%>
      <p>Item:<%= item.name %> Price:<%= item.price%></p>
    <% end %>
  <% end %>
<% end %>

